.container{
    background-color: silver;
    height: 1200px;
}
.banner{
    width: 100%;
    height: 300px;
    background-image: url(../pictures/finalfinal.png);
    top: 0%;
    left: 0%;
    background-position: center;
    background-repeat: no-repeat;
}
.nav{
    margin: auto;
    width: 300px;
    height: 25px;
    padding-top: 245px;
    display: flex
}

#cars{
    margin-left: 300px;
    top: 250px;
    right:150px;
    padding-right: 100px;
    border: 5px solid black;
    background-color: black;
    color: white;
    border-radius: 5px;
}
#manu{
    margin-left: 50px;
    top: 250px;
    right:310px;
    padding-right: 100px;
    border: 5px solid black;
    background-color: black;
    color: white;
    border-radius: 5px;
}
#manu:hover{
    border: 5px solid grey;
    background-color: grey;
    cursor: pointer;
}
#cars:hover{
    border: 5px solid grey;
    background-color: grey;
    cursor: pointer;
}
#exc{
    margin: auto;
    margin-left: -250px;
    color: black;
    font-size: x-large;
    white-space: nowrap;
}
#exc:hover{
    color: bisque;
    cursor: pointer;
}
#get-cars{
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    width: 700px;
    text-align: center;
    color: black;
}
#get-manu{
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    width: 700px;
    text-align: center;
    color: black;
}
#get-cars li{
    border: 1px solid grey;
    margin-bottom: 10px;
}
#get-manu li{
    border: 1px solid grey;
    margin-bottom: 10px;
}
#content{
    display: flex;
    width: 1000px;
    height: 700px;
    background-color: rgb(226, 226, 226);
    margin: auto;
}
.addMenu{
    height: 100%;
    margin-left: 5%;
    width: 200px;
}
#database li p{
    height: 40px;
    width: 100px;
    margin-left: 2px;
    margin-top:0%;
}
#database{
    margin-left: -50px;
    list-style-type: none;
    text-align: center;   
}
#display{
    margin-left: auto;
    margin-right: auto;
}
.flex-container {
    padding: 55px;
    display: flex;
}
.elem{
    margin-left: 50px;
    margin-right: 50px;
    height: 100px;
    width: 200px;
    color: black;
}
.fejlec, .leiras{
    border: 1px solid grey;
    padding-left: 10px;
    width: 190px;
    height: 40px;
}
img{
    height: 100px;
    width: 200px;
}
.ar{
    border: 1px solid yellow;
    background-color: gold;
    margin: auto;
    padding: 10px;
}
.leiras{
    display: flex;
}
#get-manu li,#get-cars li,#del, .buttons{
    width: 700px;
    height: 60px;
    display: flex;
}
#get-cars input{
    width: 65px;
    height: auto;
}
#get-manu input{
    width: 100px;
    height: auto;
}
div.buttons{
    display: inline-block;
    width: 50px;
    height: 50px;
    
}
#del{
    width: 5px;
    height: 20px;
    padding-right: 15px;
    
}
.editData,.saveEdit,.cancelEdit{
    width: 50px;
    height: 20px;
    padding-right: 50px;
}
#last{
    margin-right: auto;
}
li p{
    padding-right: 10px;
}
ul li .edit{
    display:none;
}
ul li.edit .edit{
    display: initial;
}
ul li.edit .noedit{
    display: none;
}